* {
	font-family: 'Antic Didone', serif;
}
h1, h2, h3, h4 {
	text-align: center;
}
body {
	margin: auto;
	max-width: 600px;
}
textarea {
	max-width: 100%
}
img {
	max-width: 100%
}
progress {
	width: 100%
}
